.userHeader {
    display: flex;
    justify-content: space-between;
}

.userName {
    margin: auto;
}

.userImage {
    width: 125px;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 10%;
    border: 2px solid var(--color-primary);
}