#root {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: calc(var(--nav-bar-size) + 3rem) var(--responsive-side-padding) 5rem;
    width: 100%;
}