.navBar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 90;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--nav-bar-size);
  padding: 0 var(--responsive-side-padding);
  background-color: var(--color-background);
  box-shadow: var(--shadow);
  transition: background-color 0.3s, box-shadow 0.3s;

  ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    align-items: center;
    gap: 2rem;
  }

  &.onTop {
    background-color: transparent;
    box-shadow: 0 0 0 0 transparent;
  }
}