.blurButton {
  background-color: transparent;
  border: 0.1rem solid var(--color-primary);
  padding: 1rem 2rem;
  color: var(--color-primary);
  font-size: 1rem;
  font-family: var(--font-display), sans-serif;
  border-radius: 0.5rem;
  margin: 1rem 0;
  cursor: pointer;
  transition: scale 0.3s ease;

  &:hover {
    scale: 1.05;
  }
}

.fill {
  background-color: var(--color-text);
  color: var(--color-background);
  border: 0.1rem solid var(--color-text);
}